{% extends 'base.html' %}
{% load staticfiles %}

{% block wp %}
<div class="wp">
						<ul>
							<li class=""><a href="{% url 'index' %}">首页</a></li>
							<li class="active">
								<a href="{% url 'course:course_list' %}">
									公开课<img class="hot" src="/static/images/nav_hot.png">
								</a>
							</li>
							<li class="">
								<a href="{% url 'org:teacher_list' %}">授课教师</a>
							</li>
							<li ><a href="{% url 'org:list' %}">授课机构</a></li>
						</ul>
					</div>
{% endblock wp %}
{% block content %}
<section>
	<div class="wp">
		<div class="crumbs">		
			<ul>
				<li><a href="/">首页</a>></li>
				<li>公开课程</li>
			</ul>
		</div>
	</div>
</section>
<!--crumbs end-->
<!--listoptions end-->
<!--list start-->
<section>
	<div class="wp">
		<div class="list" style="margin-top:0;">
			<div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li class="active"><a href="?order_by=time&is_expire=">最新 </a></li>
						<li ><a href="?order_by=hot&is_expire=">最热门</a></li>
						<li ><a href="?order_by=most_join&is_expire=">参与人数</a></li>
					</ul>
				</div>
                <div id="inWindow">
                    <div class="tab_cont " id="content">
					<div class="group_list">
                        {% for course in all_course %}
                            <div class="box">
                                <a href="{% url 'course:course_detail' course.id %}">
                                    <img width="280" height="350" class="scrollLoading" data-url="{{ MEDIA_URL }}{{ course.img }}" src="{{ MEDIA_URL }}{{ course.img }}"/>
                                </a>
                                <div class="des">
                                    <a href="{% url 'course:course_detail' course.id %}">
                                        <h2></h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">{{ course.learn_times }}</i></span>
                                    <span class="fr">学习人数：{{ course.students }}</span>
                                </div>
                                <div class="bottom">
                                    <a href="org-detail-homepage.html"><span class="fl">来自慕课网</span></a>
                                    <span class="star fr  notlogin 
                                        " data-favid="15">
                                        0
                                    </span>
                                </div>
                            </div>
                        {% endfor %}



                        
					</div>
                    <div class="pageturn">
                        <ul class="pagelist">
                                        <li class="active"><a href="?page=1">1</a></li>
                        </ul>
                    </div>
				</div>
                </div>
			</div>
			<div class="right layout">
				<div class="head">热门课程推荐</div>
				<div class="group_recommend">
                    <dl>
						<dt>
							<a target="_blank" href="{{ ecmall_ad.url }}">
								<img width="240" height="220" class="scrollLoading" data-url="http://img.mukewang.com/56a88ef50001863e06000338-240-135.jpg" src="{% static "images/pixel.gif" %}"/>
							</a>
						</dt>
						<dd>
							<a target="_blank" href="{{ ecmall_ad.url }}"><h2> java开发</h2></a>
							<span class="fl">优惠价：<i class="key">￥200</i></span>
						</dd>
					</dl>
					
					<dl>
						<dt>
							<a target="_blank" href="{{ ecmall_ad.url }}">
								<img width="240" height="220" class="scrollLoading" data-url="http://img.mukewang.com/56a88ef50001863e06000338-240-135.jpg" src="{% static "images/pixel.gif" %}"/>
							</a>
						</dt>
						<dd>
							<a target="_blank" href="{{ ecmall_ad.url }}"><h2> java开发</h2></a>
							<span class="fl">优惠价：<i class="key">￥200</i></span>
						</dd>
					</dl>

				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
