{% extends 'base.html' %}
{% load staticfiles %}

{% block wp %}
<div class="wp">
    <ul>
        <li ><a href="{% url 'index' %}">首页</a></li>
        <li >
            <a href="{% url 'course:course_list' %}">
                公开课<img class="hot" src="/static/images/nav_hot.png">
            </a>
        </li>
        <li class="">
            <a href="{% url 'org:teacher_list' %}">授课教师</a>
        </li>
        <li ><a href="{% url 'org:list' %}">授课机构</a></li>
    </ul>
</div>
{% endblock wp %}
{% block content %}




<!--crumbs start-->
<section>
	<div class="wp">
		<div class="crumbs">		
			<ul>
				<li><a href="/">首页</a>></li>
                <li><a href="/group/list/">公开课程</a>></li>
				<li>课程详情</li>
			</ul>
		</div>
	</div>
</section>

<section>
	<div class="wp">
		<div class="groupPurchase_detail detail">
			<div class="toppro">
				<div class="left">
					<div class="picbox">
						<div class="tb-booth tb-pic">
							<img width="440" height="335" src="{{ MEDIA_URL }}{{ course.img }}"  rel="{{ MEDIA_URL }}{{ course.img }}" class="jqzoom" />
						</div>
						<ul class="tb-thumb" id="thumblist">
                            <li class="tb-selected">
                                <div class="tb-pic">
                                    <a>
                                        <img width="104" height="85" src="/static/images/mysql.jpg"
                                             mid="/static/images/mysql.jpg" big="/static/images/mysql.jpg">
                                    </a>
                                </div>
                            </li>
                            <li class="">
                                <div class="tb-pic">
                                    <a>
                                        <img width="104" height="85" src="/static/images/mysql.jpg"
                                             mid="/static/images/mysql.jpg" big="/static/images/mysql.jpg">
                                    </a>
                                </div>
                            </li>
                            <li class="">
                                <div class="tb-pic">
                                    <a>
                                        <img width="104" height="85" src="/static/images/mysql.jpg"
                                             mid="/static/images/mysql.jpg" big="/static/images/mysql.jpg">
                                    </a>
                                </div>
                            </li>
                            <li class="">
                                <div class="tb-pic">
                                    <a>
                                        <img width="104" height="85" src="/static/images/mysql.jpg"
                                             mid="/static/images/mysql.jpg" big="/static/images/mysql.jpg">
                                    </a>
                                </div>
                            </li>
						</ul>
					</div>
					<div class="des">
						<h1 title="django 从入门到精通体验开始了">{{ course.name }}</h1>
						<span class="key">{{ course.desc }}</span>
						<div class="prize">
							<span class="fl">价格：<i class="key">免费</i></span>
							<span class="fr">{{ course.students }}</span>
						</div>
						<ul class="parameter">
							<li><span class="pram word3">时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长：</span><span>{{ course.learn_times }}</span></li>
                            <li><span class="pram word3">课程难度：</span><span>{{ course.degree }}</span></li>
                            <li><span class="pram word3">课程类别：</span><span title="">免费</span></li>
							<li class="piclist"><span class="pram word4">学习用户：</span>

							</li>
						</ul>
						<div class="btns">
							<div class="btn colectgroupbtn  notlogin 
                                  "data-favid="15" id="jsLeftBtn">
                                  收藏 
                            </div>
                                <div class="buy btn"><a style="color: white" href="course-video.html">开始学习</a></div>
						</div>
					</div>
                    <div class="group-share-box">
                        <div class="bdsharebuttonbox"
                             data-text="django开始了"
                             data-desc="我在#慕课网#发现了"
                             data-comment=""
                             data-url="/group/groupdetail/15/">
                            <span class="fl">分享到：</span>
                            <a href="#" class="bds_more" data-cmd="more"></a>
                            <a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
                            <a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
                            <a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
                            <a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a>
                            <a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
                        </div>
                    </div>
				</div>	
				<div class="right">
					<div class="head">
						<h1>授课机构</h1>
						<p>世界名校，课程权威</p>
					</div>
					<div class="pic">
                        <a href="/company/14/">
                            <img width="150" height="80" src="/static/images/qhdx.jpg"/>
                        </a>
                    </div>
					<a href="/company/14/">
                        <h2 class="center" title="清华大学">清华大学</h2>
                    </a>
					<p class="center tell">电话：123123123</p>
					<div class="btn  notlogin 
					     "data-favid="14" id="jsRightBtn">
                         收藏 
                    </div>
					<div class="clear">
						<ul>
                            <li>
                                <span>课 &nbsp;程&nbsp; 数：&nbsp;&nbsp;世界名校</span>
                            </li>
                            <li>
                                <span>课 &nbsp;程&nbsp; 数：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   10</span>
                            </li>
                            <li>
                                <span>教 &nbsp;师&nbsp; 数：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  10</span>
                            </li>
                            <li>
                                <span>推 &nbsp;荐&nbsp; 课：&nbsp;&nbsp;django实战</span>
                            </li>
							<li>所在地区：&nbsp;&nbsp;北京市五道口</li>
							<li>认&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;证&nbsp;:
                                &nbsp;&nbsp;
								    <img title="金牌机构", src="/static/images/gold.png"/>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!--list start-->
<section>
	<div class="wp">
		<div class="list groupPurchase_detail_pro">
			<div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li class="active">产品详细</li>      
					</ul>					  
				</div>
				<div class="tab_cont tab_cont1">
					<p><img src="/uploads/Entity/2016/06/blob_20160628155929_251.png" title="" alt="blob.png"/> </p><p><img src="/uploads/Entity/2016/06/blob_20160628155959_248.png" title="" alt="blob.png"/> </p><p><img src="/uploads/Entity/2016/06/blob_20160628160023_538.png" title="" alt="blob.png"/> </p><p><img src="/uploads/Entity/2016/06/blob_20160628160055_798.png" title="" alt="blob.png"/> </p><p><img src="/uploads/Entity/2016/06/blob_20160628160119_462.png" title="" alt="blob.png"/> </p>
				</div>
				<div class="tab_cont tab_cont2" >
					<div class="comment">
						<div class="comenlist">
                            
	                    </div>
					</div>
				</div>
			</div>
			<div class="right layout">
				<div class="head">相关课程推荐</div>
                
			</div>
		</div>
	</div>
</section>
{% endblock %}